@using Umbraco.Cms.Core.Models;
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ArticlePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Services;
@using System.Globalization;
@inject IUserService UserService;
@{
    Layout = "_Layout.cshtml";
    var textinfo = new CultureInfo("en-US", false).TextInfo;
}

<partial name="Sections/Breadcrumb" />

<section class="article-section-main container">
    <h2 class="text-subtitle">
        @Model.Name
    </h2>
    <p class="article-info">
        @Model.CreateDate.ToString("MMM dd, yyyy")<span></span>@Model.ArticleCategory<span></span>@Model.CreatorName(UserService)
    </p>
    <div class="content">
        <article>
            @{
                if (Model.ArticleImage is MediaWithCrops mediaEntry)
                {
                    <img src="@mediaEntry.MediaUrl()" alt="@mediaEntry.Value("alt")" />
                }
            }
            
            @Model.ArticleBody

            <ul class="tags">
                @foreach (var tag in Model.ArticleTags)
                {
                    <li>@textinfo.ToTitleCase(tag.ToLower())</li>
                }
            </ul>
        </article>

        <aside>
            <div class="searchbar">
                <input type="text" placeholder="Type to search..." />
                <i class="fa fa-search"></i>
            </div>
            <div class="recent">
                <h3>Recent Posts</h3>

                @{
                    var recentSelection = Umbraco.Content(Guid.Parse("06219512-9050-4a05-a56f-0fbb38cec75d"))
                    .ChildrenOfType("articlePage")
                    .Where(x => x.IsVisible())
                    .OrderByDescending(x => x.CreateDate)
                    .Take(4);
                }
                @foreach (var item in recentSelection)
                {
                    <a href="@item.Url()">
                        <span>@item.Name</span>
                        @item.CreateDate.ToString("MMM dd, yyyy")
                    </a>
                }

            </div>
            <div class="categories">
                <h3>Categories</h3>
                
                @{
                    var categorySelection = Umbraco.Content(Guid.Parse("06219512-9050-4a05-a56f-0fbb38cec75d"))
                        .ChildrenOfType("articlePage")
                        .Where(x => x.IsVisible())
                        .GroupBy(x => x.Value("articleCategory"));
                }
                @foreach (var category in categorySelection)
                {
                    <a href="#"><span>@category.Key - </span>@category.Count() Posts</a>
                }
                
            </div>
        </aside>
    </div>
</section>

<div class="bg-beige">
    <partial name="Sections/Articles" />
</div>