@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ArticlePage>

@{
    var image = Model.Value<IPublishedContent>("articleImage");
}

<a href="@Model.Url()">
    <article>
        <div class="date">
            <span>@Model.CreateDate.ToString("dd")</span><br />
            @Model.CreateDate.ToString("MMM")
        </div>
        <img src="@image.Url()" alt="@image.Value("alt")" />
        <p class="tag">@Model.Value("articleCategory")</p>
        <h4>@Model.Name</h4>
        <p>@Html.Truncate(Model.Value("articleBody").ToString(), 40, true)</p>
    </article>
</a>